.end-of-life {
  background: $background-color;
  padding: $padding-large;
  max-width: 50em;
  margin: $margin-xlarge auto;
  border-radius: $border-radius1;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    font-size: $font-size2;
    color: $font-color-tertiary;
    margin-top: $margin-large;
  }

  &__content {
    color: $font-color-primary;
    
    ul {
      list-style: none;
      padding-left: 0;
      li {
        line-height: $line-height;
        font-weight: $font-weight-bold;
        padding: $padding-medium;

        strong {
          color: $font-color-tertiary;
        }

        &::before {
          display: inline-block;
          width: 1em;
          text-align: center;
          margin-right: $margin-small;
        }
      }
    }
  }
}
