.transport {
  background: $background-color-secondary;
  padding: $padding-medium;
  text-align: center;

  &__title {
    font-size: $font-size1;
  }

  &__text {
    margin-bottom: $margin-large;
    font-size: $font-size3;
    color: $font-color-primary;
  }

  &__vehicles {
    position: relative;
    height: 8em;
  }

  &__vehicle {
    font-size: $emoji-size;
    position: absolute;
    top: 0;
    right: -100px;
    opacity: 0;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.5s ease, right 0.7s ease;

    &.active {
      right: 50%;
      transform: translateX(50%);
      opacity: 1;
    }
  }

  &__info {
    font-size: $font-size3;
    min-height: 3em;
    color: $font-color-primary;
    transition: opacity 0.3s ease;
  }

  &__list {
    list-style: none;
    margin: $margin-medium auto 0 auto;
    text-align: left;
    max-width: 30em;
    li {
        margin: $margin-medium;
        &:before {
            content: "•";
        }
    }
  }
}
