:root {
  --color-blue: #005ba7;
  --color-white: white;
  --color-green: green;
  --font-header: "Open sans", sans-serif;
  --font-cursive: "marydale", cursive;
  --fs-1: 1.15em;
  --fs-2: 0.6em;
  --fs-3: 0.4em;
  --fs-4: 0.3rem;
}

* {
  margin: 0;
  padding: 0;
}

.poster {
  position: relative;
}

h1 {
  color: var(--color-blue);
  font-family: var(--font-header);
  font-size: var(--fs-1);
  font-weight: 750;
  max-width: 55%;
}
h1 .green {
  color: var(--color-green);
}

/* This helps me style text into several lines without using br, by adding span with this class to
 the elements i want to separate on a new line */
.line {
  display: block;
}

.text {
  font-family: var(--font-cursive);
  position: absolute;
}
.textbold {
  font-weight: 1000;
}
.text1 {
  top: 9%;
  left: 0;
  width: 50%;
  font-size: var(--fs-3);
}
.text-lightblue {
  font-size: var(--fs-4);
  top: 22.5%;
  left: 3.5%;
}
.text-blue1 {
  color: var(--color-white);
  font-size: var(--fs-3);
  top: 38%;
  left: 30%;
}
.text-blue2 {
  color: var(--color-white);
  font-size: var(--fs-3);
  font-family: var(--font-cursive);
  top: 40%;
  left: 42%;
}
.text-blue3 {
  color: var(--color-white);
  font-size: var(--fs-3);
  font-family: var(--font-cursive);
  top: 43%;
  left: 60%;
}
.text-blue4 {
  color: var(--color-white);
  font-size: var(--fs-3);
  font-family: var(--font-cursive);
  top: 43%;
  left: 81%;
}
.text-white1 {
  font-size: var(--fs-3);
  font-family: var(--font-cursive);
  top: 53.2%;
  left: 6%;
}
.text-pink1 {
  font-size: var(--fs-3);
  font-family: var(--font-cursive);
  top: 63%;
  left: 40%;
}
.text-pink2 {
  font-size: var(--fs-3);
  font-family: var(--font-cursive);
  top: 58.5%;
  left: 59%;
}
.text-pink3 {
  font-size: var(--fs-3);
  font-family: var(--font-cursive);
  top: 63%;
  left: 82%;
}
.text-pink4 {
  font-size: var(--fs-3);
  font-family: var(--font-cursive);
  top: 78%;
  left: 75%;
}
.text-pink5 {
  font-size: var(--fs-3);
  font-family: var(--font-cursive);
  top: 86%;
  left: 65%;
}
.text-pink6 {
  font-size: var(--fs-3);
  font-family: var(--font-cursive);
  top: 84.5%;
  left: 28%;
}
.text-pink7 {
  font-size: var(--fs-3);
  font-family: var(--font-cursive);
  top: 73%;
  left: 6%;
}

.subtitle {
  font-weight: 200;
  font-size: var(--fs-2);
  position: absolute;
  font-family: var(--font-header);
}
.subtitle1 {
  top: 0;
  right: 0;
}
.subtitle2 {
  top: 42%;
  left: 3%;
}
.subtitle-pink {
  top: 65%;
  left: 6%;
}

.bold {
  font-weight: bold;
}

/* I used this formula for placement on all my visual elements to make it easier to place them exactly 
 where I wanted them to go, I also used percentages to make them scalable. I also divided into background, 
 where I had the background elements, and then i divided into the background colors and placed the elements 
 I used inside the different colors into those to help me with structure */
/* I tried adding position: absolute; inside here, but it just made every background go to the top left and 
 became way too small */
.background__lightblue {
  position: absolute;
  width: 100%;
  left: 0;
  top: 9%;
}
.background__blue {
  width: 100%;
  position: absolute;
  left: 0;
  top: 25%;
}
.background__pink {
  width: 100%;
  position: absolute;
  bottom: 3%;
  left: 0;
}

/* Same as with .background */
.lightblue__network {
  position: absolute;
  top: 13%;
  left: 0;
  width: 110%;
}
.lightblue__internet--1 {
  position: absolute;
  top: 14%;
  left: 37.5%;
  width: 5%;
  -webkit-animation: swing 3.5s ease-in-out infinite;
          animation: swing 3.5s ease-in-out infinite;
  transform-origin: bottom center;
}
.lightblue__internet--2 {
  position: absolute;
  top: 10%;
  left: 62.5%;
  width: 5%;
  -webkit-animation: swing 3.5s ease-in-out infinite;
          animation: swing 3.5s ease-in-out infinite;
  transform-origin: bottom center;
}
.lightblue__internet--3 {
  position: absolute;
  top: 13%;
  left: 82%;
  width: 5%;
  -webkit-animation: swing 3.5s ease-in-out infinite;
          animation: swing 3.5s ease-in-out infinite;
  transform-origin: bottom center;
}
.lightblue__arrow--green {
  position: absolute;
  top: 19.5%;
  left: 23%;
  width: 13%;
  -webkit-animation: growShrink 2s ease-in-out infinite;
          animation: growShrink 2s ease-in-out infinite;
}
.lightblue__arrow--yellow {
  position: absolute;
  top: 36%;
  left: 75.5%;
  width: 4%;
  -webkit-animation: growShrink 2s ease-in-out infinite;
          animation: growShrink 2s ease-in-out infinite;
}

/* Same as with .background */
.blue__flame {
  position: absolute;
  width: 9%;
  top: 48%;
  left: 69%;
}
.blue__table {
  position: absolute;
  width: 35%;
  top: 43%;
  left: 59%;
}
.blue__list--1 {
  font-family: var(--font-cursive);
  color: var(--color-white);
  font-size: var(--fs-4);
  position: absolute;
  top: 46.9%;
  left: 62%;
}
.blue__list--2 {
  font-family: var(--font-cursive);
  color: var(--color-white);
  font-size: var(--fs-4);
  position: absolute;
  top: 46.3%;
  left: 83%;
}

/* Same as with .background */
.white__arrow--yellow {
  position: absolute;
  width: 10%;
  top: 45%;
  left: 48%;
  -webkit-animation: growShrink 2s ease-in-out infinite;
          animation: growShrink 2s ease-in-out infinite;
}
.white__bracket {
  position: absolute;
  width: 4%;
  top: 52%;
  left: 20%;
}
.white__list {
  font-family: var(--font-cursive);
  font-size: var(--fs-3);
  position: absolute;
  top: 53%;
  left: 26%;
}
.white__list li {
  margin-bottom: 0.3em;
}
.white__bacterias .bacteria1 {
  position: absolute;
  width: 7%;
  top: 44.3%;
  left: 36.5%;
  -webkit-animation: fade 4s ease-in-out infinite;
          animation: fade 4s ease-in-out infinite;
}
.white__bacterias .bacteria2 {
  position: absolute;
  width: 6%;
  top: 47%;
  left: 29%;
  -webkit-animation: fade 4s ease-in-out infinite;
          animation: fade 4s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.white__bacterias .bacteria3 {
  position: absolute;
  width: 6%;
  top: 49%;
  left: 40%;
  -webkit-animation: fade 4s ease-in-out infinite;
          animation: fade 4s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.white__bacterias .bacteria4 {
  position: absolute;
  width: 10%;
  top: 51.5%;
  left: 45.5%;
  -webkit-animation: fade 4s ease-in-out infinite;
          animation: fade 4s ease-in-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.white__bacterias .bacteria5 {
  position: absolute;
  width: 6%;
  top: 56%;
  left: 39%;
  -webkit-animation: fade 4s ease-in-out infinite;
          animation: fade 4s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

/* Same as with .background */
.pink__world {
  position: absolute;
  width: 22%;
  height: 22%;
  bottom: 8%;
  left: 45%;
}
.pink__mouth {
  position: absolute;
  width: 15%;
  top: 35%;
  left: 42%;
  -webkit-animation: flip 4s ease-in-out infinite;
          animation: flip 4s ease-in-out infinite;
}
.pink__thought {
  position: absolute;
  width: 13%;
  top: 67%;
  left: 68%;
  -webkit-animation: fade 4s ease-out infinite;
          animation: fade 4s ease-out infinite;
}
.pink__sun {
  position: absolute;
  width: 8%;
  top: 74%;
  left: 30%;
}
.pink__sunrays {
  position: absolute;
  width: 18%;
  top: 71.6%;
  left: 25%;
  -webkit-animation: spin 8s ease-in-out infinite;
          animation: spin 8s ease-in-out infinite;
}
.pink__raincloud {
  position: absolute;
  top: 85%;
  left: 5%;
  width: 12%;
  transition: opacity 0.5s ease;
}
.pink__raincloud:hover {
  opacity: 0;
}
.pink__coin {
  position: absolute;
  top: 87%;
  left: 50%;
  width: 10%;
  -webkit-animation: swing 2.5s linear infinite;
          animation: swing 2.5s linear infinite;
  transform-origin: top;
}
.pink__qr {
  position: absolute;
  width: 10%;
  bottom: 5%;
  right: 1%;
  transform-origin: bottom right;
}
.pink__qr:hover {
  transform: scale(1.6);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: var(--color-blue);
  width: 100%;
  padding: 0.2em !important;
  bottom: 0;
  height: 5%;
}
.footer__image {
  width: 30%;
}
.footer__image figure img {
  width: 95%;
}
.footer p {
  color: var(--color-white);
  font-size: var(--fs-3);
}
.footer__section {
  width: 30%;
  text-align: right;
}
.footer a {
  color: var(--color-white);
  font-size: var(--fs-3);
  text-decoration: none;
  display: block;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__divider {
  height: 70%;
  background-color: var(--color-white);
  border-radius: 2em;
  padding: 0.1em;
}

@-webkit-keyframes growShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes growShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes swing {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes flip {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes flip {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
/*# sourceMappingURL=style.css.map */