/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  max-inline-size: var(--measure);
  font-family: var(--font);
  max-width: 100%;
}

html,
body,
div,
header,
section,
nav,
main,
footer {
  max-inline-size: none;
}

:root {
  --font: Verdana, sans-serif;
  --color-primary: grey;
  --color-secondary: blue;
  --color-secondary-hover: rgb(49, 69, 249);
  --color-tertiary: white;
  --textcolor-secondary: white;
  --features-grey: #ddd;
  --color-showcase-background: #e6f7ff;
  --color-card-secondary: lightblue;
  --background-color-card: #f4f4f4;
  --color-review-stars: gold;
  --header1: 2.5em;
  --header2: 1.5em;
  --measure: 60ch;
  --padding-small: 0.5em;
  --padding-medium: 0.7em;
  --padding-large: 1em;
  --margin-xsmall: 0.2em;
  --margin-small: 0.5em;
  --margin-medium: 0.7em;
  --margin-large: 1em;
  --border-radius-small: 0.5em;
  --border-radius-big: 1em;
}

figure, img {
  max-width: 100%;
  box-sizing: border-box;
}

.header, .footer {
  font-family: var(--font);
  background-color: var(--color-primary, grey);
  text-align: center;
  padding: var(--padding-large) 0 var(--padding-large) 0;
  color: var(--textcolor-secondary);
}
.header__title, .footer__title {
  font-size: var(--header1);
}
.header__navigation .footer__list, .footer__navigation .footer__list {
  list-style: none;
  display: inline-flex;
}
.header__navigation .footer__list .footer__item, .footer__navigation .footer__list .footer__item {
  margin-block-end: var(--margin-small);
}
.header__navigation .footer__list .footer__item a, .footer__navigation .footer__list .footer__item a {
  padding: 0.7em;
  background-color: var(--color-secondary, blue);
  color: var(--color-tertiary, white);
  text-decoration: none;
  border-radius: 0.5em;
  display: inline-block;
  margin: var(--margin-small);
}
.header__navigation .footer__list .footer__item a:hover, .footer__navigation .footer__list .footer__item a:hover {
  background-color: var(--color-secondary-hover);
  color: var(--color-tertiary, white);
}

button {
  background-color: var(--color-secondary);
  color: var(--textcolor-secondary);
  padding: var(--padding-medium);
  border-radius: 0.5em;
  border: none;
  font-size: large;
  margin: var(--margin-small);
}
button:hover {
  transform: scale(1.2);
}

.card {
  border-radius: var(--border-radius-big);
  padding: var(--padding-small);
  background-color: var(--color-primary);
}
.card__name {
  font-weight: bold;
}
.card__star {
  color: var(--color-review-stars);
}
.card--primary {
  border-left: 0.7em solid var(--color-secondary);
  background-color: var(--background-color-card);
}
.card--secondary {
  border-left: 0.7em solid var(--color-card-secondary);
  background-color: var(--background-color-card);
}

.specs {
  padding: var(--padding-medium);
}
.specs__title {
  font-size: var(--header2);
  margin: var(--margin-small);
  text-align: center;
  font-weight: bold;
}
.specs__table {
  max-width: 90%;
  font-size: 1rem;
  margin: 0 auto;
  border-collapse: collapse;
}
.specs__table th, .specs__table td {
  border: 1px solid var(--features-grey, #ccc);
  padding: var(--padding-small);
}
.specs__table thead {
  font-weight: bold;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-around;
}

cover-l {
  display: flex;
  flex-direction: column;
  min-block-size: 40vh;
  padding: var(--padding-large);
}

stack-l {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.review__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5em;
}

.features__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.cover {
  padding: 0;
}
.cover__title {
  position: relative;
  top: 2em;
  text-align: center;
  font-size: var(--header1);
  font-weight: bold;
}
.cover__text {
  text-align: center;
  margin-top: var(--margin-medium);
  font-style: italic;
  position: relative;
  bottom: 3em;
}

.features {
  margin: var(--margin-medium);
  padding: var(--padding-medium);
}
.features__title {
  text-align: center;
  font-size: var(--header2);
  font-weight: bold;
  margin-bottom: var(--margin-medium);
}
.features__element {
  border: 2px solid var(--features-grey);
  border-radius: 0.7em;
  padding: var(--padding-medium);
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  margin: var(--margin-medium);
}
.features__element img {
  width: 80%;
  margin: 0 auto;
  display: block;
  height: auto;
  max-height: 60vh;
  margin-bottom: var(margin-medium);
}
.features__subtitle {
  text-align: center;
  font-weight: bold;
  margin-bottom: var(--margin-small);
}
.features__information {
  padding: var(--padding-small);
}

.fitness {
  padding: var(--padding-medium);
}
.fitness__title {
  font-weight: bold;
  font-size: var(--header2);
  text-align: center;
  margin: var(--margin-medium);
}
.fitness__list {
  margin: var(--margin-large);
}
.fitness__container {
  border-radius: 0.7em;
  padding: var(--padding-large);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.fitness__subtitle {
  margin-bottom: var(--margin-small);
  font-weight: bold;
}

.review {
  padding: var(--padding-small);
}
.review__title {
  font-size: var(--header2);
  text-align: center;
  margin-bottom: var(--margin-medium);
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */