// some general easy styling to make the about page look a little better
// and create some visual hierarchy with the description i wrote
#about {
    background-color: var(--color-showcase-background);
    & .description {
        padding: var(--padding-small);
        max-width: 80%;
        // logical properties
        margin-inline-start: auto;
        margin-inline-end: auto;
        &__subtitle {
            font-weight: bold;
            font-size: var(--header2);
            margin-bottom: var(--margin-small);
        }
        &__text {
            padding-bottom: var(--margin-small);
        }
    }
}