
// styling the header
.header {
    display: flex;
    justify-content: space-around;
}

// I copied this code from the "Every Layout" website, and decided not to move the
// flex properties to make it easier to show what part is taken from the website.
cover-l {
    display: flex;
    flex-direction: column;
    // I had to change this from 100, because the section underneath got pushed further down when resizing the 
    // screen size, and it left a lot of white space
    min-block-size: 40vh;
    padding: var(--padding-large);
  }

// this is copied from "Every Layout"
stack-l {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }