:root {
    --text-color1: black;
    --text-color2: white;
    --color-building: black;
    --color-windows: Yellow; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    box-sizing: border-box;
}