.scene {
  width: 100%;
  &__1 {
    height: 100vh;
    background: linear-gradient(
      to bottom,
      #b0c4de 0%,
      #b0c4de 70%,
      #deb887 70%,
      #deb887 100%
    );
    .window {
      width: 30vh;
      position: absolute;
      left: 48vw;
      top: 15vh;
    }
    .person-ordering {
      width: 50vh;
      height: auto;
      position: absolute;
      justify-content: center;
      top: 50%;
      left: 22%;
      animation: slideInLeft 2s ease-out forwards;
      opacity: 0;
    }

    .package-box {
      width: 8vh;
      position: absolute;
      top: 55%;
      left: 36.5%;
      transform: translate(-50%, 60px);
      opacity: 0;
      z-index: 5;
      animation: packagePopUp 3s ease-out forwards;
      animation-delay: 2.2s;
    }

    .package {
      position: absolute;
      top: 40%;
      left: 52%;
      transform: translate(-50%, 0);
      background: rgba(255, 255, 255, 0.95);
      padding: 1rem;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      width: 200px;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      z-index: 10;
      font-size: 2vh;
    }

    .package-box:hover + .package {
      opacity: 1;
      visibility: visible;
    }
  }

  &__2 {
    height: 400vh;
    background: linear-gradient(
      to bottom,
      rgb(170, 200, 102) 0%,
      rgb(170, 200, 102) 95%,
      lightblue 98%,
      lightblue 100%
    );

    .info-box2 {
      position: absolute;
      top: 110vh;
      left: 20vw;
      width: 70%;
      background: white;
      color: black;
      padding: 1rem;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      font-size: 1em;
      z-index: 1;
    }

    .post-office {
      width: 50vh;
      height: auto;
      position: absolute;
      top: 133vh;
      left: 20.5vw;
      z-index: 0;
    }

    .trees {
      .tree {
        position: absolute;
        width: 25vw;
      }
      &__1 {
        top: 100vh;
        right: 35vw;
      }
      &__2 {
        top: 150vh;
        left: 35vw;
      }
      &__3 {
        top: 200vh;
        right: 35vw;
      }
      &__4 {
        top: 250vh;
        left: 35vw;
      }
      &__5 {
        top: -75vh;
        right: 35vw;
      }
      &__6 {
        top: -55vh;
        left: 35vw;
      }
      &__7 {
        top: 5vh;
        right: 35vw;
      }
      &__8 {
        top: 50vh;
        left: 35vw;
      }
      &__9 {
        top: 1350vh;
        right: 35vw;
      }
      &__10 {
        top: 1400vh;
        left: 35vw;
        z-index: 3;
      }
      &__11 {
        top: 1410vh;
        right: 35vw;
      }
    }

    .road {
      background-color: #504a4a;
      height: 400vh;
      width: 30%;
      position: relative;
      margin: 0 auto;
      top: 20%;

      &__lane-line {
        position: absolute;
        top: 0;
        left: 50%;
        width: 0.5em;
        height: 100%;
        background: repeating-linear-gradient(
          to bottom,
          yellow,
          yellow 1.25em,
          transparent 1.25em,
          transparent 2.5em
        );
        transform: translateX(-50%);
      }

      &__side-line-left {
        position: absolute;
        left: 5px;
        top: 0;
        width: 8px;
        height: 100%;
        background: white;
      }

      &__side-line-right {
        position: absolute;
        right: 5px;
        top: 0;
        width: 8px;
        height: 100%;
        background: white;
      }

      .truck--1 {
        position: sticky;
        width: 27%;
        top: 50%;
        z-index: 0;
        animation: truckScrollMotion linear forwards;
        animation-timeline: scroll();
        animation-range: 0% 100%;
      }

      .oil-spill {
        position: absolute;
        width: 40%;
        top: 50%;
        left: 5%;
      }
    }
  }
  &__3 {
    height: 1000vh;
    background: linear-gradient(
      to bottom,
      lightblue 0%,
      lightblue 57%,
      rgb(170, 200, 102) 60%
    );
    .plane {
      position: sticky;
      z-index: 3;
      top: 60%;
      width: 45%;
      left: 65%;
      transform: translateX(-50%);
      animation: planeScrollMotion linear forwards;
      animation-timeline: scroll();
      animation-range: 10% 100%;
    }

    .info-box3 {
      position: absolute;
      top: 630vh;
      left: 5vw;
      width: 50%;
      background: white;
      color: black;
      padding: 1rem;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      font-size: 1em;
      z-index: 2;
    }

    .info-box4 {
      position: absolute;
      top: 820vh;
      left: 35vw;
      width: 50%;
      background: white;
      color: black;
      padding: 1rem;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      font-size: 1em;
      z-index: 2;
    }
    .clouds {
      .cloud {
        position: absolute;
        width: 20%;
      }
      &__1 {
        top: 600vh;
        left: 30vw;
        animation: float 10s ease-in-out infinite;
      }

      &__2 {
        top: 630vh;
        right: 20vw;
        animation: float 15s ease-in-out infinite;
      }

      &__3 {
        top: 650vh;
        right: 10vw;
        animation: float 12s ease-in-out infinite;
      }

      &__4 {
        top: 670vh;
        left: 15vw;
        animation: float 10s ease-in-out infinite;
      }
      &__5 {
        top: 700vh;
        left: 30vw;
        animation: float 8s ease-in-out infinite;
      }
      &__6 {
        top: 710vh;
        right: 10vw;
        animation: float 14s ease-in-out infinite;
      }
      &__7 {
        top: 730vh;
        left: 10vw;
        animation: float 14s ease-in-out infinite;
      }
      &__8 {
        top: 770vh;
        right: 20vw;
        animation: float 8s ease-in-out infinite;
      }
      &__9 {
        top: 800vh;
        left: 20vw;
        animation: float 10s ease-in-out infinite;
      }
      &__10 {
        top: 850vh;
        right: 30vw;
        animation: float 12s ease-in-out infinite;
      }
      &__11 {
        top: 900vh;
        left: 15vw;
        animation: float 10s ease-in-out infinite;
      }
      &__12 {
        top: 950vh;
        right: 15vw;
        animation: float 8s ease-in-out infinite;
      }
    }
    .airstrip {
      background-color: #504a4a;
      height: 400vh;
      width: 50%;
      margin: 0 auto;
      position: absolute;
      top: 1100vh;
      left: 30%;
      &__startlines {
        position: absolute;
        top: 1%;
        width: 100%;
        height: 3.75em;
        background: repeating-linear-gradient(
          to right,
          white 0px,
          white 1.875em,
          transparent 1.875em,
          transparent 3.125em
        );
      }
    }
  }

  &__4 {
    height: 200vh;
    background-color: rgb(170, 200, 102);
    .road--2 {
      background-color: #504a4a;
      height: 211.5vh;
      width: 50%;
      margin: 0 auto;
      position: relative;
      top: -35.5%;
      left: 5%;
      z-index: 1;

      &__lane-line {
        position: absolute;
        top: 0;
        left: 50%;
        width: 0.5em;
        height: 100%;
        z-index: 1;
        background: repeating-linear-gradient(
          to bottom,
          yellow,
          yellow 1.25em,
          transparent 1.25em,
          transparent 2.5em
        );
        transform: translateX(-50%);
      }

      &__side-line-left,
      &__side-line-right {
        position: absolute;
        top: 0;
        width: 8px;
        height: 100%;
        background: white;
      }

      &__side-line-left {
        left: 5px;
      }

      &__side-line-right {
        right: 5px;
      }
    }
    .truck--4 {
      position: sticky;
      top: 30%;
      margin: 0 auto;
      width: 10%;
      z-index: 2;
      transform: translateX(350%);
    }

    .info-box5 {
      position: absolute;
      top: 1550vh;
      left: 45vw;
      width: 50%;
      background: white;
      color: black;
      padding: 1rem;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      font-size: 1em;
      z-index: 2;
    }

    .house--1 {
      position: absolute;
      width: 30%;
      top: 1650vh;
      left: 0%;
      transform: scaleX(-1);
    }
  }

  &__5 {
    height: 100vh;
    background: linear-gradient(
      to bottom,
      #b0c4de 0%,
      #b0c4de 70%,
      #deb887 70%,
      #deb887 100%
    );
    .window {
      width: 40vh;
      position: absolute;
      left: 38vw;
      top: 1710vh;
    }
    .chill-woman {
      position: absolute;
      width: 60vh;
      top: 1750vh;
      left: 10vw;

      &__bubble {
        position: absolute;
        color: black;
        background-color: white;
        padding: 0.5rem;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        max-width: 70%;
        top: 1742vh;
        left: 10vw;
      }
    }

    .pink-tshirt {
      width: 20vh;
      position: absolute;
      top: 1765vh;
      left: 17vh;
      z-index: 5;

      &:hover + .chill-woman__bubble + .tshirt-message {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }

    .tshirt-message {
      position: absolute;
      top: 1750vh;
      left: 5vh;
      max-width: 120%;
      background: white;
      color: black;
      padding: 1rem;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
      font-size: 1.2rem;
      z-index: 10;
    }
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
  
@keyframes packagePopUp {
  0% {
    transform: translate(-50%, 20px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -80px);
    opacity: 1;
  }
}

@keyframes truckScrollMotion {
  0% {
    transform: translate(4vw, -22%);
  }

  10% {
    transform: translate(4vw, -42%);
  }

  20% {
    transform: translate(15vw, -48%);
  }

  30% {
    transform: translate(4vw, -48%);
  }

  35% {
    transform: translate(4vw, -14%);
  }

  40% {
    transform: translate(15vw, -50%);
  }
}

@keyframes planeScrollMotion {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  90% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2em);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes packagePopLeft {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  30% {
    transform: translate(-50%, -30px);
    opacity: 1;
  }
  100% {
    transform: translate(-80%, -30px); /* move more left */
    opacity: 1;
  }
}