.cover {
  &__text {
    text-align: center;
    padding-bottom: var(--padding-medium);
    font-style: italic;
  }
}


.features {
    margin: var(--margin-medium);
    padding: var(--padding-medium);
    &__title {
      text-align: center;
      font-size: var(--header2);
      font-weight: bold;
      margin-bottom: var(--margin-medium);
    }
    &__element {
      border: 2px solid var(--features-grey);
      border-radius: 0.7em;
      padding: var(--padding-medium);
      box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
      margin: var(--margin-medium);
      
      & img {
        width: 80%;
        margin: 0 auto;
        display: block;
        height: auto;
        max-height: 60vh;
        margin-bottom: var(margin-medium);
      }
    }
    &__subtitle {
      text-align: center;
      font-weight: bold;
      margin-bottom: var(--margin-small);
    }
    &__information {
      padding: var(--padding-small);
    }
}

.fitness {
  padding: var(--padding-medium);
  &__title {
      font-weight: bold;
      font-size: var(--header2);
      text-align: center;
      margin: var(--margin-medium);
  }

  &__list {
      margin: var(--margin-large);
  }

  &__container {
      border-radius: 0.7em;
      padding: var(--padding-large);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  &__subtitle {
      margin-bottom: var(--margin-small);
      font-weight: bold;
  }
}

.review {
  padding: var(--padding-small);
  &__title {
    font-size: var(--header2);
    text-align: center;
    margin-bottom: var(--margin-medium);
    font-weight: bold;
  }
}